
<body style="background-color:<%=@background%>;">

<%=form_tag "/temps", method: :get do %>
Woeid: <input type="text" name="woeid" >
<input type="submit" value="Submit" >
<%end%>

<h2> <%= @title %></h2>
<h2> <%= @temp %></h2>
<h2> <%= @condition %></h2>
<img src= <%=@image %> >
<h2> <%= @date %></h2>

<% @response.forecasts.each do |day| %>
    <h2> <%= day.date.strftime('%b %d, %Y')%> </h2>
    <h3><%=day.high %> </h3>
    <h3><%=day.low %></h3>
    <h3><%=day.text %> </h3>
 <% end %>

</body> 


   

